# Курсовой проект

Задача:
Требуется, на основании имеющихся данных о клиентах банка, построить модель, используя обучающий датасет, для прогнозирования невыполнения долговых обязательств по текущему кредиту. Выполнить прогноз для примеров из тестового датасета.

Наименование файлов с данными:
course_project_train.csv - обучающий датасет
course_project_test.csv - тестовый датасет

Целевая переменная
Credit Default - факт невыполнения кредитных обязательств

Метрика качества - F1-score (sklearn.metrics.f1_score)

Требования к решению:
Целевая метрика - F1 > 0.5
Метрика оценивается по качеству прогноза для главного класса (1 - просрочка по кредиту)

Решение должно содержать:
Тетрадка Jupyter Notebook с кодом Вашего решения, названная по образцу {ФИО}_solution.ipynb, пример SShirkin_solution.ipynb
Файл CSV с прогнозами целевой переменной для тестового датасета, названный по образцу {ФИО}_predictions.csv, пример SShirkin_predictions.csv

Рекомендации для файла с кодом (ipynb):
Файл должен содержать заголовки и комментарии (markdown)
Повторяющиеся операции лучше оформлять в виде функций
Не делать вывод большого количества строк таблиц (5-10 достаточно)
По возможности добавлять графики, описывающие данные (около 3-5)
Добавлять только лучшую модель, то есть не включать в код все варианты решения проекта
Скрипт проекта должен отрабатывать от начала и до конца (от загрузки данных до выгрузки предсказаний)
Весь проект должен быть в одном скрипте (файл ipynb).
Допускается применение библиотек Python и моделей машинного обучения, которые были в данном курсе.

In [260]:
'''Импорт модулей, библиотек'''
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from pylab import rcParams
import seaborn as sns
%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [261]:
DATASET_TRAIN = 'course_project_train.csv'
DATASET_TEST = 'course_project_test.csv'

### Этап 1. Обзор обучающего датасета

In [262]:
df_train = pd.read_csv(DATASET_TRAIN)

Home Ownership - домовладение (str)
Annual Income - годовой доход (int32)
Years in current job - лет на текущей работе (str)
Tax Liens - налоговые обременения (int32)
Number of Open Accounts - Количество открытых счетов (int32)
Years of Credit History - Годы кредитной истории (float32)
Maximum Open Credit - Наибольший открытый кредит (int32)
Number of Credit Problems - Количество кредитных проблем (int32)
Months since last delinquent - Количество месяцев с последней просрочки платежа (int32)
Bankruptcies - Банкротства (int32)
Purpose - Цель кредита (str)
Term - Срок кредита (str)
Current Loan Amount - Текущая Сумма Кредита (int32)
Current Credit Balance - Текущий Кредитный Баланс (int32)
Monthly Debt - Ежемесячный Долг (int32)
Credit Score - Счет кредита (int32)
Credit Default - факт невыполнения кредитных обязательств (int32, 0-погашен вовремя, 1-просрочка) - Целевой признак.

In [263]:
df_train.head(10) # первые 10 строк датасета

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
5,Rent,NaN,7 years,0.0,12.0,14.6,366784.0,0.0,NaN,0.0,other,Long Term,337304.0,165680.0,18692.0,NaN,1
6,Home Mortgage,1511108.0,10+ years,0.0,9.0,20.3,388124.0,0.0,73.0,0.0,home improvements,Short Term,99999999.0,51623.0,2317.0,745.0,0
7,Rent,1040060.0,10+ years,0.0,13.0,12.0,330374.0,0.0,18.0,0.0,other,Short Term,250888.0,89015.0,19761.0,705.0,1
8,Home Mortgage,NaN,5 years,0.0,17.0,15.7,0.0,1.0,NaN,1.0,home improvements,Short Term,129734.0,19.0,17.0,NaN,0
9,Home Mortgage,NaN,1 year,0.0,10.0,24.6,511302.0,0.0,6.0,0.0,debt consolidation,Long Term,572880.0,205333.0,17613.0,NaN,1

In [264]:
df_train.info() # информация о датасете

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Home Ownership                7500 non-null   object
 1   Annual Income                 5943 non-null   float64
 2   Years in current job          7129 non-null   object
 3   Tax Liens                     7500 non-null   float64
 4   Number of Open Accounts       7500 non-null   float64
 5   Years of Credit History       7500 non-null   float64
 6   Maximum Open Credit           7500 non-null   float64
 7   Number of Credit Problems     7500 non-null   float64
 8   Months since last delinquent  3419 non-null   float64
 9   Bankruptcies                  7486 non-null   float64
 10  Purpose                       7500 non-null   object
 11  Term                          7500 non-null   object
 12  Current Loan Amount           7500 non-null   float64
 13  Current Credit Balance        7500 non-null   float64
 14  Monthly Debt                  7500 non-null   float64
 15  Credit Score                  5943 non-null   float64
 16  Credit Default                7500 non-null   int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

In [265]:
df_train.shape # форма датасета

(7500, 17)

In [266]:
df_train.describe() # основные показатели признаков

,Annual Income,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
count,5.943000e+03,7500.000000,7500.000000,7500.000000,7.500000e+03,7500.000000,3419.000000,7486.000000,7.500000e+03,7.500000e+03,7500.000000,5943.000000,7500.000000
mean,1.366392e+06,0.030133,11.130933,18.317467,9.451537e+05,0.170000,34.692600,0.117152,1.187318e+07,2.898332e+05,18314.454133,1151.087498,0.281733
std,8.453392e+05,0.271604,4.908924,7.041946,1.602622e+07,0.498598,21.688806,0.347192,3.192612e+07,3.178714e+05,11926.764673,1604.451418,0.449874
min,1.645970e+05,0.000000,2.000000,4.000000,0.000000e+00,0.000000,0.000000,0.000000,1.124200e+04,0.000000e+00,0.000000,585.000000,0.000000
25%,8.443410e+05,0.000000,8.000000,13.500000,2.792295e+05,0.000000,16.000000,0.000000,1.801690e+05,1.142565e+05,10067.500000,711.000000,0.000000
50%,1.168386e+06,0.000000,10.000000,17.000000,4.781590e+05,0.000000,32.000000,0.000000,3.095730e+05,2.093230e+05,16076.500000,731.000000,0.000000
75%,1.640137e+06,0.000000,14.000000,21.800000,7.935015e+05,0.000000,50.000000,0.000000,5.198820e+05,3.604062e+05,23818.000000,743.000000,1.000000
max,1.014934e+07,7.000000,43.000000,57.700000,1.304726e+09,7.000000,118.000000,4.000000,1.000000e+08,6.506797e+06,136679.000000,7510.000000,1.000000

Столбцы с пропущенными значениями в тренировочном датасете:
Annual Income
Years in current job
Months since last delinquent
Bankruptcies
Credit Score

### Этап 2. Обработка пропусков тренировочного датасета

In [267]:
df_train_prep = df_train.copy()

In [268]:
''' замена пропусков признака "Annual Income" медианным значением'''
AI_mean = df_train_prep['Annual Income'].median()
df_train_prep['Annual Income'].fillna(AI_mean, inplace=True)

In [269]:
''' заменаа пропусков признака "Years in current job" максимальным значением '''
df_train_prep['Years in current job'].fillna(df_train_prep['Years in current job'].max, inplace=True)

In [270]:
''' удаление признака "Months since last delinquent" из-за большого количества пропусков '''
df_train_prep.drop('Months since last delinquent', axis=1, inplace=True)

In [271]:
''' заменаа пропусков признака "Bankruptcies" максимальным значением '''
df_train_prep['Bankruptcies'].fillna(df_train_prep['Years in current job'].max, inplace=True)

In [272]:
''' замена пропусков признака "Credit Score" медианным значением'''
df_train_prep['Credit Score'].fillna(df_train_prep['Credit Score'].median(), inplace=True)

In [273]:
df_train_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Home Ownership             7500 non-null   object
 1   Annual Income              7500 non-null   float64
 2   Years in current job       7500 non-null   object
 3   Tax Liens                  7500 non-null   float64
 4   Number of Open Accounts    7500 non-null   float64
 5   Years of Credit History    7500 non-null   float64
 6   Maximum Open Credit        7500 non-null   float64
 7   Number of Credit Problems  7500 non-null   float64
 8   Bankruptcies               7500 non-null   object
 9   Purpose                    7500 non-null   object
 10  Term                       7500 non-null   object
 11  Current Loan Amount        7500 non-null   float64
 12  Current Credit Balance     7500 non-null   float64
 13  Monthly Debt               7500 non-null   float64
 14  Credit Score               7500 non-null   float64
 15  Credit Default             7500 non-null   int64
dtypes: float64(10), int64(1), object(5)
memory usage: 937.6+ KB